<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title data-tf="#head_title"></title>
</head>
<body>
<p style="color: red" data-tf="#error_msg"></p>
<p style="color: green" data-tf="#notice_msg"></p>

<h1>Editing Entry</h1>

<form method="post" data-tf="#edit_form">
  <p>
    <label for="entry_id">ID</label><br />
    <input id="entry_id" readonly data-tf="#id" />
  </p>
  <p>
    <label for="entry_name">Name</label><br />
    <input id="entry_name" data-tf="#name" />
  </p>
  <p>
    <label for="entry_address">Address</label><br />
    <input id="entry_address" data-tf="#address" />
  </p>
  <p>
    <label for="entry_revision">Revision</label><br />
    <input id="entry_revision" data-tf="#revision" />
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<a data-tf="#linkToShow">Show</a> |
<a data-tf="#linkToIndex">Back</a>

</body>
</html>
