<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title data-tf="#head_title"></title>
</head>
<body>

<h1>Listing Entry</h1>

<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Revision</th>
    <th></th>
  </tr>
  <tr data-tf="#for">
    <td data-tf="#id"></td>
    <td data-tf="#name"></td>
    <td data-tf="#address"></td>
    <td data-tf="#revision"></td>
    <td>
      <a data-tf="#linkToShow">Show</a>
      <a data-tf="#linkToEdit">Edit</a>
      <a data-tf="#linkToRemove">Remove</a>
    </td>
  </tr>
</table>

<br />
<a data-tf="#linkToEntry">New entry</a>
</body>
</html>
