<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Addresses: Hello # index</title>
</head>
<body>
layouy of Hello controller!!!

登録されている名前は、
aoyama
です。<br/>

<span id="id" data-tf="#span">span test</span>
<hr/>
<b> Hello </b>

post: <br />
namae:  <span data-tf="#namae"></span><br />
OS: win <span data-tf="#os"></span><br />
submit:  <span data-tf="#submit"></span><br />

<table border=4>
  <tr><th>No.</th><th>Name</th><th>Address</th></tr>
  <tr data-tf="#table1">
  <td data-tf="#no">1</td>
  <td data-tf="#name">Aoyama</td>
  <td data-tf="#address">漆山３１５８−６</td></tr>
  <tr data-tf="#dummy" style="background-color: #0de9ba;"><td>2</td><td>友恵</td><td>板橋区中台</td></tr>
</table>
  
<br />
<a id="ao" name="ao" data-tf="#merge1">hogehogeho に入ります</a>
<div data-tf="#entry_name"></div>
<hr />
<a data-tf="#linkto">hogehogeho に入ります</a>
<a data-tf="#linkToFunction"></a>
<input data-tf="#buttonToFunction" />

<br />
###################<br/>
aoyama kazuharu 1.2.3.4.5
<span data-tf="#varhoge">aoyama !!!!22233 ---......</span>
<hr/>
幸乃果だよー!<br/>
###################<br/>

<span data-tf="#hogeupper"></span><br>
<span data-tf="#partial"></span><br>
<span data-tf="#req"></span><br>

<form action="" method="post" data-tf="#form1">

<p>お名前：
<input type="text" name="namae" id="namae" value="" size="20" />
</p>
<p>OS：
<input type="radio" name="OS" id="OS" value="win" />  Windows
<input type="radio" name="OS" id="OS" value="mac" />  Machintoch
<input type="radio" name="OS" id="OS" value="unix" checked />  Unix
</p>
<input type="radio" name="status[]" id="status" value="value1" />
<input type="radio" name="status[]" id="status" value="value2" />
<p>
<input type="text" name="text1[]" />
<input type="text" name="text1[]" />
<input type="submit" value="送信" />
</form>

<form data-tf="#form2">
   <p>アップロードするファイルの絶対パスとファイル名を入力します。
   <input type="file" name='FiletoUpload' size="45">
   </p>
<input type="submit" value="アップロード" />
</form>

<a href=/hoge.zip>hoge.zip</a><br />
<a href="/VWDZ08002_SCN.ISO">デカファイル</a> <br />

<img src="/images/pic.png" alt="image" />

</body>
</html>

