# Like Qt style
BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 0
MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 2
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Right
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: Inline
AlignEscapedNewlinesLeft: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
