# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true

[*.{h,cpp}]
indent_size = 4
insert_final_newline = true

[*.pro]
indent_size = 2

[Makefile]
indent_style = tab

[*.{html,htm}]
trim_trailing_whitespace = false
insert_final_newline = false

[*.ini]
end_of_line = crlf

[*.bat]
charset = Shift_JIS
end_of_line = crlf

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.wxs]
end_of_line = crlf

[CMakeLists.txt]
end_of_line = crlf

