*.moc
moc_*.cpp
Makefile
Makefile.*
*~
*.bak
.qmake.stash
log/
doc/
src/trash/
tools/tspawn/defaults/
src/test/sharedmemorylogstream/log/
Gemfile.lock

# Linux
*.o
*.a
*.so
*.so.*
*.pro.user
3rdparty/mongo-c-driver/src/*.os
docs/_site/
tools/tfmanager/treefrog
tools/tfserver/tadpole
tools/tmake/test/tmaketest
tools/tmake/tmake
tools/tspawn/tspawn

# macOS
*.dylib
**/target_wrapper.sh

# Windows
**/Release/
**/Debug/
**/target_wrapper.bat
*.obj
*.pdb
*.rc
*.ilk
*.Release
*.Debug
*.suo
*.sdf
*.wixpdb
*.wixobj
installer/msi/TreeFrogFiles.wxs
installer/**/*.msi

