*.o
moc_*.cpp
.qmake.stash
Makefile
src/treefrog.framework
*.a
tools/tfmanager/treefrog
tools/tfserver/tadpole
tools/tmake/tmake
tools/tspawn/tspawn
tools/tspawn/defaults
*.moc


src/test/buildtest/buildtest
src/test/fieldnametovariablename/fieldnametovariablename
src/test/hmac/hmac
src/test/htmlescape/htmlescape
src/test/htmlparser/htmlparser
src/test/httpheader/httpheader
src/test/mailmessage/mailmessage
src/test/multipartformdata/multipartformdata
src/test/paginator/paginator
src/test/rand/rand
src/test/sharedmemorylogstream/sharedmemorylogstream
src/test/smtpmailer/smtpmailer
src/test/viewhelper/viewhelper
src/test/urlrouter/urlrouter
