<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>旬な食品まとめサイト</title>
<link href="/css/base.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
  <div id="inner">
    <div id="headline">　旬な食品まとめサイト</div>
    <div id="header"> 
    <img src="/images/logo.png" alt="" name="header_image" width="328" height="80" id="header_image" style="background-color: #00CC66" />
      <div id="navi">旬なリスト　　過去のリスト　　お問い合わせ</div>
    </div>
    <div id="content"> 
      <div class="entry" data-tf="#entry">
         <div class="logo" data-tf="#logo">Logo</div>
         <div class="entrytitle" data-tf="#entrytile">
           ここにタイトルとメッセージを<br />
           ここにタイトルとメッセージを
         </div>
        <div class="clear"></div>
        <div class="entryimg"><img src="" alt="" name="entryimage" width="160" height="100" id="entryimage" data-tf="#entry_image" /></div>
        <div class="entrytext" data-tf="#entrytext">通常価格とか割引率とか</div>
        <div class="clear"></div>
        <hr />
      </div>
    </div>
    
    <div id="menu"> 
      <p>id "menu" の内容</p>
    </div>
    <div class="clear"></div>
    <hr />
    
    <div id="footer">
      Copyright (c) 
    </div>
  </div>
</div>
</body>
</html>
