# routes.cfg

# The priority is based upon order of creation:
# first entry -> highest priority.
#
#  ':param' signifies one parameter.
#  ':params' signifies two or more parameters.

# Samples of regular routes:
#   match  /  Book.index
#   get    /Book/:param  Book.show
#   post   /Book/new     Book.create
#   put    /Book/:param  Book.save
#   delete /Book/:param  Book.remove
#   get    /  /index.html
