<%#include <QList> %>
<%#include <TCookie> %>

<html>
<body>
<%
echo(controller()->name());
echo("<br>");
echo(httpRequest().method());
echo("<br>");

QList<TCookie> cookies = httpRequest().cookies();
for (QListIterator<TCookie> i(cookies); i.hasNext(); ) {
    const TCookie &c = i.next();
    echo(QString("name: ") + c.name() + "  value: " + c.value() + "<br>");
}
%>
</body>
</html>
