<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<title>inputtext AJAX</title>
<script src="/js/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
function remote_update() 
{
 
}
//-->
</script>
</head>
<body data-tf="#onload">
<div style="text-align: center;"><br>
<!-- <img id="image" style="width: 275px; height: 95px;" alt="" src="/text.png"><br> -->
<div id="image1"></div>
<div style="text-align: center;"><br>
</div>
<br>
<form data-tf="#form">
<div style="text-align: center;">
<input size="50" name="text" id="text" data-tf="#text" />
<!-- <input type="submit" value="send" /> -->
</form>
<!-- <div id="image"></div>
<a data-tf="#update"></a> -->
<br>
<br>
<br>
</div>
</div>
</body></html>
