---
---

@charset "utf-8";
@import "{{ site.theme }}";

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #666;
}
.inner {
    min-width: 980px;
    margin: 0px auto;
    padding: 15px;
}
#header_wrap .inner {
    padding: 20px 10px 30px 10px !important;
}
#header {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
}
#logo-link {
    float: right;
    right: 20px;
    margin-top: -84px;
}
img#logo {
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    border: none;
    padding: 5px 0px 0px 0px;
    margin: 0px;
    box-shadow: none;
}
#project_tagline {
    float: left;
    margin: 0px;
}
#main-content {
    width: 720px;
    float: left;
    padding-bottom: 10px;
}
#main_content_wrap {
    overflow: auto;
}
#header-background {
    position: absolute;
}
#site-title {
    width: 55%;
    position: absolute; 
    margin-top: 44px; 
    margin-left: 40px; 
    color: #FEF9EE; 
}
#site-description {
    text-align: right; 
    padding-right: 20px; 
    width: 40%;
    text-align:left; 
    clear: both; 
    float: left; 
    position:absolute;  
    margin-top: 90px;  
    margin-left: 40px;
    color: #C2DEFF;
}
#navigation {
    width: 220px;
    float: right;
    padding: 0 10px 10px 10px;
    font-size: 0.8em;
    background: #fbfbfb;
    border-radius: 10px;
    border: 1px solid #CCC;
    margin-left: 10px;
    margin-bottom: 10px;
}
#navigation ul {
    margin-bottom: 0px;
}
#forkme_banner {
    position: relative !important;
    margin-left: 10px;
    margin-top: 25px;
}
a.menuItemLink:hover {
    color: #007edf !important;
    text-decoration: none;
}
ul.menu > li.branch.open {
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 400 300"><path d="M 0 0 L 400 0 L 200 300 z" fill="%23424242" /></svg>');
}
.widget-title {
    border-bottom: 1px solid #222222;
    margin-bottom: 5px;
}
.language-link, a.menuItemLink, .language-link:visited, a.menuItemLink:visited {
    color: #000;
    text-decoration: none;
}
a.activeMenuItem {
    color: #007edf;
}
.language-link:hover {
    color: blue;
    text-decoration: none;
}
#footer_wrap {
    color: white;
    margin-bottom: 25px;
}
#site-info {
    float: left;
}
#treefrog-homepage-link, #go-to-github-link {
    color: #80c4f9;
}
#publisher-info {
    float: right;
}
.standard-link {
    color: white;
}
.highlight {
    width: calc( 100% - 20px );
}
.table-div table {
    margin: 0px auto;
}
.center.aligned {
    text-align: center;
}
.search-box-navi {
    height: 20px;
    float: left;
    width: 64%;
}
.search-form-navi {
    background: none;
    padding: 0px;
    margin-bottom: 40px;
}
.search-button-navi {
    height: 26px;
    float: right;
    width: 30%;
}
.result-search-button {
    float: right;
    width: 15%;
    height: 26px;
}
.search-box {
    height: 20px;
    float: left;
    width: 80%;
}
#search-form {
    background: #fbfbfb;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    height: 26px
}