---
---

@charset "utf-8";
@import "jekyll-theme-slate";
@import "rouge-github";
//@import "{{ site.theme }}";

body {
    font-family: helvetica, arial, "hiragino kaku gothic pron", meiryo, "ms pgothic", sans-serif;
    color: #444;
    background: #FDFEEF;
}
#wrapper {
    margin: 0 auto;
    max-width: 1040px;
    min-width: 980px;
}
.header-inner {
    width: 100%;
    margin: 0 auto;
}
div.nav-inner {
    width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: linear-gradient(to bottom, #ccc2b0, #c7bda9 50%, #ac9c7f);
    height: 36px;
    font-size: 13px;
}
div.nav-inner ul {
    margin: 0;
}
div.nav-inner ul li {
    list-style-type: none;
    line-height: 40px;
    display: inline;
    padding-right: 20px;
}
div.nav-inner a:link, div.nav-inner a:visited {
    color: #FFF;
    font-weight: bold;
}
div.nav-inner a:link:hover, div.nav-inner a:visited:hover {
    color: #7693e8;
    font-weight: bold;
}
div.nav-inner a.activeMenuItem, div.nav-inner a.activeMenuItem:visited {
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    font-family: helvetica, arial, "hiragino kaku gothic pron", meiryo, "ms pgothic", sans-serif;
    letter-spacing: 0;
}
h1 {
    font-size: 24px;
    color: #555;
}
h2 {
    font-size: 18px;
    color: #555;
}
h3 {
    font-size: 17px;
    color: #555;
}
h4 {
    font-size: 16px;
    color: #555;
}
h5 {
    font-size: 15px;
    color: #b22222;
}
h6 {
    font-size: 15px;
    color: #555;
}
th {
    padding: 2px;
}
.header-background-wrapper {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 128px;
}
#header {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
}
#logo-link {
    float: right;
    right: 20px;
    margin-top: -84px;
}
img#logo {
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    border: none;
    padding: 5px 0 0 0;
    margin: 0;
    box-shadow: none;
}
.site-title {
    display: block;
    margin: 0 40px;
    padding-top: 20px;
    color: #FFF;
    font-size: 30px;
}
.site-tagline {
    display: block;
    margin: 0 40px;
    color: #C2DEFF;
    font-style: italic;
    font-size: 17px;
    background: none;
}
.main-content-wrap {
    border: none;
    padding-bottom: 30px;
    background: #FDFEEF;
}
.main-inner {
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px 30px 10px !important;
}
.main-content {
    display: inline-block;
    vertical-align: top;
    max-width: 784px;
    min-width: 724px;
    padding-bottom: 10px;
}
.navigation {
    display: inline-block;
    vertical-align: top;
    width: 204px;
    padding: 0 10px 10px 10px;
    font-size: 0.8em;
    background: #F5DEB3;
    border-radius: 10px;
    border: 1px solid #CCC;
    margin-left: 10px;
    margin-bottom: 10px;
}
.navigation ul {
    margin-bottom: 0px;
}
.thanks-banner img {
    display: block;
    margin: 3px auto;
    padding: 0;
}
a {
    color: #1d3994;
    text-decoration: none;
    font-weight: normal;
}
a:hover {
    color: #7693e8;
    text-decoration: none;
    font-weight: normal;
}
a.menuItemLink:hover {
    color: #007edf !important;
}
.widget-title {
    border-bottom: 1px solid #222222;
    margin-bottom: 5px;
}
.language-link, a.menuItemLink, .language-link:visited, a.menuItemLink:visited {
    color: #000;
}
a.activeMenuItem {
    color: #007edf;
}
.language-link:hover {
    color: blue;
}
.footer-wrap {
    color: white;
    background: linear-gradient(to bottom, #ad9d80, #7b6f59);
}
.footer-inner {
    width: 960px;
    padding: 6px 20px 10px;
    margin: 0 auto;
}
#treefrog-homepage-link, #go-to-github-link {
    color: #FFF;
}
.standard-link {
    color: white;
}
.highlighter-rouge {
    margin: 0 8px;
}
.highlight {
    width: calc( 100% - 10px );
    padding: 10px;
    background-color: #FFF;
}
.table-div table {
    margin: 0px auto;
    background-color: #FFF;
}
.table-div th {
    background-color: #555;
    border: 1px solid #000;
    text-align: center;
}
.center.aligned {
    text-align: center;
}
.search-box-navi {
    height: 16px;
    width: 60%;
}
.search-form-navi {
    background: none;
    padding: 0px;
    margin-bottom: 20px;
}
.search-button-navi {
    height: 26px;
    width: 26%;
    font-size: 12px;
    padding: 0;
}
.result-search-button {
    width: 15%;
    height: 26px;
}
.search-box {
    height: 20px;
    float: left;
    width: 80%;
}
#search-form {
    background: #fbfbfb;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    height: 26px
}
.img-center {
    text-align: center;
}
div#google_translate_element {
    text-align: center;
    min-height: 30px;
}
div#google_translate_element div.goog-te-gadget-simple {
    background-color: #F6F6F6;
    padding: 3px;
    border-radius: 5px;
    border: solid 1px #888;
}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span {
    font-size: 13px;
    color: #333;
}
div#google_translate_element img {
    padding: 0;
    margin: 0;
}
