---
---

@charset "utf-8";
@import "{{ site.theme }}";

/* ##################################
               GENERAL
###################################*/

body {
    font-family: helvetica, arial, "hiragino kaku gothic pron", meiryo, "ms pgothic", sans-serif;
    color: #444;
    background: #FDFEEF;
}
h1 {
    font-size: 24px;
    color: #555;
}
h2 {
    font-size: 18px;
    color: #555;
}
h3 {
    font-size: 17px;
    color: #555;
}
h4 {
    font-size: 16px;
    color: #555;
}
h5 {
    font-size: 15px;
    color: #b22222;
}
h6 {
    font-size: 15px;
    color: #555;
}
a:hover {
    color: #007edf !important;
}

/* ##################################
               HEADER
###################################*/
header#header-wrap {
    background: #FDFEEF;
}
.header-inner {
    width: 980px;
    margin: 0px auto;
}
#header {
    width: 100%;
    height: 140px;
}
#header-background {
    position: absolute;
}
.header-background-wrapper {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 137px;
}
#logo-link {
    float: right;
    right: 20px;
    margin-top: -84px;
}
img#logo {
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    border: none;
    padding: 5px 0px 0px 0px;
    margin: 0px;
    box-shadow: none;
}
#project_title {
    margin-left: 20px;
    padding-top: 10px;
}
#project_tagline {
    float: left;
    margin-top: 0px;
    margin-left: 20px;
    color: #C2DEFF;
    font-style: italic;
    font-size: 19px;
}
#site-title {
    width: 55%;
    position: absolute; 
    margin-top: 44px; 
    margin-left: 40px; 
    color: #FEF9EE; 
}
#site-description {
    text-align: right; 
    padding-right: 20px; 
    width: 40%;
    text-align:left; 
    clear: both; 
    float: left; 
    position:absolute;  
    margin-top: 90px;  
    margin-left: 40px;
    color: #C2DEFF;
}

/* ##################################
                MAIN
###################################*/

section#main-content-wrap {
    overflow: auto;
    border: none;
    padding-bottom: 30px;
    background: #FDFEEF;
    margin-top: 15px;
}
.main-inner {
    width: 980px;
    margin: 0px auto;
    padding: 20px 10px 30px 10pmain-contentx !important; 
}
#main-content {
    width: 720px;
    float: left;
    padding-bottom: 10px;
}

/* ##################################
           TOP NAVIGATION
###################################*/

nav#top-navigation-wrap {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
div.top-navigation-inner {
    width: 980px;
    margin: 0px auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: linear-gradient(to bottom, #d5cea6 0%,#c9c190 40%,#898653 100%);
    height: 40px;
    font-weight: 800;
}
div.top-navigation-inner ul {
    margin: 0px;
}
div.top-navigation-inner ul li {
    list-style-type: none;
    line-height: 40px;
    display: inline;
    padding-right: 20px;
}
div.top-navigation-inner ul li a:link, div.top-navigation-inner ul li a:visited {
    color: #FFF;
}
div.top-navigation-inner ul li a:hover {
    text-decoration: none;
}

/* ##################################
           SIDE NAVIGATION
###################################*/
nav#side-navigation {
    width: 220px;
    float: right;
    padding: 0 10px 10px 10px;
    font-size: 0.8em;
    background: #F5DEB3;
    border-radius: 10px;
    border: 1px solid #CCC;
    margin-left: 10px;
    margin-bottom: 10px;
}
#side-navigation ul {
    margin-bottom: 0px;
}
#forkme_banner {
    position: relative !important;
    margin-left: 10px;
    margin-top: 25px;
}
a.menuItemLink:hover {
    text-decoration: none;
}
ul.menu > li.branch.open {
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 400 300"><path d="M 0 0 L 400 0 L 200 300 z" fill="%23424242" /></svg>');
}
.widget-title {
    border-bottom: 1px solid #222222;
    margin-bottom: 5px;
}
.language-link, a.menuItemLink, .language-link:visited, a.menuItemLink:visited {
    color: #000;
    text-decoration: none;
}
a.activeMenuItem {
    color: #007edf !important;
}
.language-link:hover {
    color: blue;
    text-decoration: none;
}

/* ##################################
               FOOTER
###################################*/

footer#footer-wrap {
    color: white;
    background: -webkit-linear-gradient(bottom, #373737, #31791d);
    padding-bottom: 20px;
}
.footer-inner {
    width: 980px;
    padding: 6px 20px 20px;
    margin: 0 auto;
}
#site-info {
    float: left;
}
#treefrog-homepage-link, #go-to-github-link {
    color: #80c4f9;
}
#publisher-info {
    float: right;
}
.standard-link {
    color: white;
}
.highlight {
    width: calc( 100% - 10px );
    background-color: #FFF;
    padding: 10px;
}

/* ##################################
               CONTENT
###################################*/
.table-div table {
    margin: 0px auto;
    background-color: #FFF;
}
.table-div th {
    background-color: #555;
    border: 1px solid #000;
    text-align: center;
}
.center.aligned,.img-center {
    text-align: center;
}

/* ##################################
               SEARCH
###################################*/

.search-box-navi {
    height: 16px;
    width: 60%;
}
.search-form-navi {
    background: none;
    padding: 0px;
    margin-bottom: 20px;
}
.search-button-navi {
    height: 26px;
    width: 26%;
    font-size: 12px;
}
.result-search-button {
    width: 15%;
    height: 26px;
}
.search-box {
    height: 20px;
    float: left;
    width: 80%;
}
#search-form {
    background: #fbfbfb;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    height: 26px
}
