<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <!-- *** 8行目,12行目,30行目,36行目を修正せよ *** -->
  <!-- *** 基本的に 9行目,10行目,36行目,42行目,44行目,54行目,59行目も修正する (guidgen使用) *** -->

  <!-- プロダクト情報 -->
  <Product Name='TreeFrog Framework 1.12.0'
           Id="838A4A29-D8CB-4474-909B-17A1F45D05C7"
           UpgradeCode="36CA699E-4E01-4CEA-B95D-C2598B54C3BB"
           Language='1041' Codepage='932'
           Version='1.12.0' Manufacturer='TreeFrog Framework Project'>

    <!-- パッケージ情報 -->
    <Package Id='*' Keywords='Installer'
             Description="TreeFrog Framework Installer"
             Comments='TreeFrog Framework is open source software.'
             Manufacturer='TreeFrog Framework Project' InstallerVersion='100'
             Languages='1041' Compressed='yes' SummaryCodepage='932' />

    <!-- メディア情報（変更しなくてよい） -->
    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='First media' />
    <Property Id='DiskPrompt' Value="TreeFrog Framework Installer [1]" />

    <!-- インストールファイル -->
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]"/>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='WINDOWSVOLUME'>
        <Directory Id='INSTALLDIR' Name='TreeFrog'>
          <Directory Id='VERSIONDIR' Name='1.12.0'>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder"  SourceName="Desktop"/>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="TreeFrog Framework 1.12.0"/>
      </Directory>
    </Directory>

    <!-- デスクトップショートカット -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="BF3587B4-F52E-511E-8814-CFCBF8201C0D">
        <Shortcut Id="PromptDesktopShortcut"
                  Name="TreeFrog Prompt 1.12.0"
                  Description="TreeFrog Framework Prompt"
                  Target="[SystemFolder]cmd.exe" Arguments="/K [VERSIONDIR]bin\\tfenv.bat"
                  WorkingDirectory="PersonalFolder"/>
        <RegistryValue Root="HKCU" Key="Software\TreeFrog" Name="DTSC" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- プログラムメニューショートカット -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="107008B5-657E-4FC6-9C05-14D200C67FCA">
        <CreateFolder Directory="ApplicationProgramsFolder"/>

        <!-- Shortcut to TF prompt-->
        <Shortcut Id="PromptProgramMenuShortcut"
                  Name="TreeFrog Prompt 1.12.0"
                  Description="TreeFrog Framework Prompt"
                  Target="[SystemFolder]cmd.exe" Arguments="/K [VERSIONDIR]bin\\tfenv.bat"
                  WorkingDirectory="PersonalFolder"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\TreeFrog" Name="PMSC" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- フィーチャー -->
    <Feature Id='Complete' Title='TreeFrog Fromework'
             Description='Complete Package' Display='expand'
             Level='1' ConfigurableDirectory='INSTALLDIR'>

      <Feature Id='TreeFrogSDK' Title='SDK' Description='TreeFrog Fromework' Level='1'>
        <ComponentGroupRef Id='TreeFrogFiles' />
        <ComponentRef Id='DesktopShortcut' />
        <ComponentRef Id='ApplicationShortcut' />
      </Feature>

    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
