<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <!-- *** 8行目,12行目,30行目,36行目,44行目,59行目を修正せよ *** -->
  <!-- *** 基本的に 9行目,10行目,42行目,54行目も修正する (guidgen使用) *** -->

  <!-- プロダクト情報 -->
  <Product Name='TreeFrog Framework 2.1.0'
           Id="964A1ECD-B31D-44F0-B36B-4C81BCEAA18D"
           UpgradeCode="C1BEF1A6-1448-4CDF-A9D5-CA8950FFB4B4"
           Language='1041' Codepage='932'
           Version='2.1.0' Manufacturer='TreeFrog Framework Project'>

    <!-- パッケージ情報 -->
    <Package Id='*' Keywords='Installer'
             Description="TreeFrog Framework Installer"
             Comments='TreeFrog Framework is open source software.'
             Manufacturer='TreeFrog Framework Project' InstallerVersion='100'
             Languages='1041' Compressed='yes' SummaryCodepage='932' />

    <!-- メディア情報（変更しなくてよい） -->
    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='First media' />
    <Property Id='DiskPrompt' Value="TreeFrog Framework Installer [1]" />

    <!-- インストールファイル -->
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]"/>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='WINDOWSVOLUME'>
        <Directory Id='INSTALLDIR' Name='TreeFrog'>
          <Directory Id='VERSIONDIR' Name='2.1.0'>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder"  SourceName="Desktop"/>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="TreeFrog Framework 2.1.0"/>
      </Directory>
    </Directory>

    <!-- デスクトップショートカット -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="E1FA44B7-8B3F-4F82-BD54-7C094FC518F6">
        <Shortcut Id="PromptDesktopShortcut"
                  Name="TreeFrog Prompt 2.1.0"
                  Description="TreeFrog Framework Prompt"
                  Target="[SystemFolder]cmd.exe" Arguments="/K [VERSIONDIR]bin\\tfenv.bat"
                  WorkingDirectory="PersonalFolder"/>
        <RegistryValue Root="HKCU" Key="Software\TreeFrog" Name="DTSC" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- プログラムメニューショートカット -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="D980A0BC-E6ED-4E93-9D38-69157A1DAFA9">
        <CreateFolder Directory="ApplicationProgramsFolder"/>

        <!-- Shortcut to TF prompt-->
        <Shortcut Id="PromptProgramMenuShortcut"
                  Name="TreeFrog Prompt 2.1.0"
                  Description="TreeFrog Framework Prompt"
                  Target="[SystemFolder]cmd.exe" Arguments="/K [VERSIONDIR]bin\\tfenv.bat"
                  WorkingDirectory="PersonalFolder"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\TreeFrog" Name="PMSC" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- フィーチャー -->
    <Feature Id='Complete' Title='TreeFrog Fromework'
             Description='Complete Package' Display='expand'
             Level='1' ConfigurableDirectory='INSTALLDIR'>

      <Feature Id='TreeFrogSDK' Title='SDK' Description='TreeFrog Fromework' Level='1'>
        <ComponentGroupRef Id='TreeFrogFiles' />
        <ComponentRef Id='DesktopShortcut' />
        <ComponentRef Id='ApplicationShortcut' />
      </Feature>

    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
