name: ActionsCI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build-ubuntu:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@main
    - name: apt
      run: |
        sudo apt-get update -qq
        sudo apt install -y --no-install-recommends pkg-config qmake6 qt6-base-dev qt6-base-dev-tools qt6-tools-dev-tools qt6-declarative-dev libqt6sql6-mysql libqt6sql6-psql libqt6sql6-odbc libqt6sql6-sqlite libqt6core6 libqt6qml6 libqt6xml6 libpq5 libodbc2 libmongoc-dev libbson-dev gcc g++ clang make cmake yarn
    - name: qmake version
      run: |
        sudo rm -f /usr/bin/qmake
        sudo ln -sf /usr/bin/qmake6 /usr/bin/qmake
        qmake -v
    - name: configure for debug
      run: |
        ./configure --prefix=/usr/local --spec=linux-g++ --enable-debug
    - name: make for debug
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: configure
      run: |
        ./configure --prefix=/usr/local --spec=linux-g++
    - name: make
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: version
      run: |
        treefrog -v
        tspawn --show-drivers
    - name: apt install for test
      run: |
        sudo apt install -y --no-install-recommends redis-server memcached
        sudo service redis-server start
        sudo service memcached start
    - name: testall.sh
      working-directory: src/test
      run: |
        ./testall.sh
    - name: tmake test
      working-directory: tools/tmake/test
      run: |
        qmake tmaketest.pro
        make -j4
        ./tmaketest.sh
    - name: releasetest
      working-directory: tools/test
      run: |
        ./testall.sh

  build-ubuntu-sharedlink:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@main
    - name: apt
      run: |
        sudo apt-get update -qq
        sudo apt install -y --no-install-recommends pkg-config qmake6 qt6-base-dev qt6-base-dev-tools qt6-tools-dev-tools qt6-declarative-dev libqt6sql6-mysql libqt6sql6-psql libqt6sql6-odbc libqt6sql6-sqlite libqt6core6 libqt6qml6 libqt6xml6 libpq5 libodbc2 libmongoc-dev libbson-dev liblz4-dev gcc g++ clang make cmake yarn
    - name: qmake version
      run: |
        sudo rm -f /usr/bin/qmake
        sudo ln -sf /usr/bin/qmake6 /usr/bin/qmake
        qmake -v
    - name: configure for debug
      run: |
        ./configure --prefix=/usr/local --enable-shared-mongoc --enable-shared-lz4 --spec=linux-clang --enable-debug
    - name: make for debug
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: configure
      run: |
        ./configure --prefix=/usr/local --enable-shared-mongoc --enable-shared-lz4 --spec=linux-clang
    - name: make
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: version
      run: |
        treefrog -v
        tspawn --show-drivers
    - name: apt install for test
      run: |
        sudo apt install -y --no-install-recommends redis-server memcached
        sudo service redis-server start
        sudo service memcached start
    - name: testall.sh
      working-directory: src/test
      run: |
        ./testall.sh
    - name: tmake test
      working-directory: tools/tmake/test
      run: |
        qmake tmaketest.pro
        make -j4
        ./tmaketest.sh
    - name: releasetest
      working-directory: tools/test
      run: |
        ./testall.sh

  build-ubuntu22:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@main
    - name: apt
      run: |
        sudo apt-get update -qq
        sudo apt install -y --no-install-recommends pkg-config qmake6 qt6-base-dev qt6-base-dev-tools qt6-tools-dev-tools qt6-declarative-dev libqt6sql6-mysql libqt6sql6-psql libqt6sql6-odbc libqt6sql6-sqlite libqt6core6 libqt6qml6 libqt6xml6 libpq5 libodbc2 libmongoc-dev libbson-dev liblz4-dev gcc g++ clang make cmake yarn
    - name: qmake version
      run: |
        sudo rm -f /usr/bin/qmake
        sudo ln -sf /usr/bin/qmake6 /usr/bin/qmake
        qmake -v
    - name: configure for debug
      run: |
        ./configure --prefix=/usr/local --spec=linux-g++ --enable-debug
    - name: make for debug
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: configure
      run: |
        ./configure --prefix=/usr/local --spec=linux-g++
    - name: make
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: version
      run: |
        treefrog -v
        tspawn --show-drivers
    - name: apt install for test
      run: |
        sudo apt install -y --no-install-recommends redis-server memcached
        sudo service redis-server start
        sudo service memcached start
    - name: testall.sh
      working-directory: src/test
      run: |
        ./testall.sh
    - name: tmake test
      working-directory: tools/tmake/test
      run: |
        qmake tmaketest.pro
        make -j4
        ./tmaketest.sh
    - name: releasetest
      working-directory: tools/test
      run: |
        ./testall.sh

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
    - name: Homebrew
      run: |
        which pkg-config || brew install pkg-config
        brew install qt6 jq yarn
    - name: configure for debug
      run: |
        ./configure --prefix=/usr/local --enable-debug
    - name: build for debug
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: configure
      run: |
        ./configure --prefix=/usr/local
    - name: build
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: version
      run: |
        treefrog -v
        tspawn --show-drivers
    - name: tmake test
      working-directory: tools/tmake/test
      run: |
        qmake tmaketest.pro
        make -j4
        ./tmaketest.sh
    - name: brew install for test
      run: |
        brew install redis memcached
        brew services start redis
        brew services start memcached
    - name: testall.sh
      working-directory: src/test
      run: |
        ./testall.sh
    - name: releasetest
      working-directory: tools/test
      run: |
        ./testall.sh

  build-macos-sharedlink:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
    - name: Homebrew
      run: |
        which pkg-config || brew install pkg-config
        brew install qt6 jq mongo-c-driver@2 gflags glog lz4 yarn
    - name: configure for debug
      run: |
        export PKG_CONFIG_PATH=$(echo "$(find -L "$(brew --prefix)/opt" -type d \( -path "*/lib/pkgconfig" -o -path "*/share/pkgconfig" \) 2>/dev/null)" | sort -u | paste -sd ":" -):$PKG_CONFIG_PATH
        ./configure --prefix=/usr/local --enable-shared-mongoc --enable-shared-glog --enable-shared-lz4 --enable-debug
    - name: build for debug
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: configure
      run: |
        export PKG_CONFIG_PATH=$(echo "$(find -L "$(brew --prefix)/opt" -type d \( -path "*/lib/pkgconfig" -o -path "*/share/pkgconfig" \) 2>/dev/null)" | sort -u | paste -sd ":" -):$PKG_CONFIG_PATH
        ./configure --prefix=/usr/local --enable-shared-mongoc --enable-shared-glog --enable-shared-lz4
    - name: build
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: version
      run: |
        treefrog -v
        tspawn --show-drivers
    - name: brew install for test
      run: |
        brew install redis memcached
        brew services start redis
        brew services start memcached
    - name: testall.sh
      working-directory: src/test
      run: |
        ./testall.sh
    - name: releasetest
      working-directory: tools/test
      run: |
        ./testall.sh

  build-macos14:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@main
    - name: Homebrew
      run: |
        which pkg-config || brew install pkg-config
        brew install qt6 jq mongo-c-driver@1 gflags glog lz4 yarn
    - name: configure for debug
      run: |
        export PKG_CONFIG_PATH=$(echo "$(find -L "$(brew --prefix)/opt" -type d \( -path "*/lib/pkgconfig" -o -path "*/share/pkgconfig" \) 2>/dev/null)" | sort -u | paste -sd ":" -):$PKG_CONFIG_PATH
        ./configure --prefix=/usr/local --enable-shared-mongoc --enable-shared-glog --enable-shared-lz4 --enable-debug
    - name: build for debug
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: configure
      run: |
        export PKG_CONFIG_PATH=$(echo "$(find -L "$(brew --prefix)/opt" -type d \( -path "*/lib/pkgconfig" -o -path "*/share/pkgconfig" \) 2>/dev/null)" | sort -u | paste -sd ":" -):$PKG_CONFIG_PATH
        ./configure --prefix=/usr/local --enable-shared-mongoc --enable-shared-glog --enable-shared-lz4
    - name: build
      run: |
        make -j4 -C src
        sudo make -C src install
        make -j4 -C tools
        sudo make -C tools install
    - name: version
      run: |
        treefrog -v
        tspawn --show-drivers
    - name: brew install for test
      run: |
        brew install redis memcached
        brew services start redis
        brew services start memcached
    - name: testall.sh
      working-directory: src/test
      run: |
        ./testall.sh
    - name: releasetest
      working-directory: tools/test
      run: |
        ./testall.sh

  build-windows-qt68-msvc2022:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@main
    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v2
      with:
        vs-version: '[17,18)'  # 17.xx
        msbuild-architecture: x64
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version:      6.8
        host:         windows
        target:       desktop
        setup-python: false
    - name: Install tools
      run: |
        choco install sqlite -y --no-progress
        choco install cmake -y --version=3.31.7 --no-progress
    - name: Debug build
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        set CL=/MP
        qmake -version
        call configure.bat --enable-debug
        cd src
        nmake
        nmake install
        cd ..\tools
        nmake
        nmake install
    - name: Module test
      shell: cmd
      working-directory: src/test
      run: |
        call testall.bat
    - name: Release build
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        set CL=/MP
        call configure.bat
        cd src
        nmake
        nmake install
        cd ..\tools
        nmake
        nmake install
    - name: Release test
      shell: cmd
      working-directory: tools\test
      run: |
        testall.bat

  build-windows-qt68-msvc2019:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@main
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version:      6.8
        host:         windows
        target:       desktop
        setup-python: false
    - name: Install VisualStudio tools
      run: |
        choco install visualstudio2019community -y --no-progress
        choco install visualstudio2019-workload-nativedesktop -y --no-progress
        choco install sqlite -y --no-progress
        choco install cmake -y --version=3.31.7 --no-progress
    - name: Debug build
      shell: cmd
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
        set CL=/MP
        qmake -version
        call configure.bat --enable-debug
        cd src
        nmake
        nmake install
        cd ..\tools
        nmake
        nmake install
    - name: Module test
      shell: cmd
      working-directory: src/test
      run: |
        call testall.bat
    - name: Release build
      shell: cmd
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
        set CL=/MP
        call configure.bat
        cd src
        nmake
        nmake install
        cd ..\tools
        nmake
        nmake install
    - name: Release test
      shell: cmd
      working-directory: tools\test
      run: |
        testall.bat

  build-windows-qt65-msvc2019:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@main
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version:      6.5
        host:         windows
        target:       desktop
        arch:         win64_msvc2019_64
        setup-python: false
    - name: Install VisualStudio tools
      run: |
        choco install visualstudio2019community -y --no-progress
        choco install visualstudio2019-workload-nativedesktop -y --no-progress
        choco install sqlite -y --no-progress
        choco install cmake -y --version=3.31.7 --no-progress
    - name: Debug build
      shell: cmd
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
        set CL=/MP
        qmake -version
        call configure.bat --enable-debug
        cd src
        nmake
        nmake install
        cd ..\tools
        nmake
        nmake install
    - name: Module test
      shell: cmd
      working-directory: src/test
      run: |
        call testall.bat
    - name: Release build
      shell: cmd
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
        set CL=/MP
        call configure.bat
        cd src
        nmake
        nmake install
        cd ..\tools
        nmake
        nmake install
    - name: Release test
      shell: cmd
      working-directory: tools\test
      run: |
        testall.bat
